.background {
  background-color: #1E3A8A;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  background: url("/fond.png") no-repeat;
  background-size: contain;
  width: 300px; /* Ajuste la taille de l’image */
  height: 300px;
  opacity: 0.5;
}

/* Haut-Gauche : Flip Vertical */
.background::before {
  top: 0;
  left: 0;
  transform: scaleX(-1); /* Flip vertical */
}

/* Bas-Droite : Rotation de 90° */
.background::after {
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}